<h1>Listing inventories</h1>

<table>
  <thead>
    <tr>
      <th>Item name</th>
      <th>Sell price</th>
      <th>High</th>
      <th>Low</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @inventories.each do |inventory| %>
      <tr>
        <td><%= inventory.item_name %></td>
        <td><%= inventory.sell_price %></td>
        <td><%= inventory.high %></td>
        <td><%= inventory.low %></td>
        <td><%= link_to 'Show', inventory %></td>
        <td><%= link_to 'Edit', edit_inventory_path(inventory) %></td>
        <td><%= link_to 'Delete', inventory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Input New Inventory', new_inventory_path %>
