<p id="notice"><%= notice %></p>

<p>
  <strong>Item name:</strong>
  <%= @inventory.item_name %>
</p>

<p>
  <strong>Sell price:</strong>
  <%= @inventory.sell_price %>
</p>

<p>
  <strong>High:</strong>
  <%= @inventory.high %>
</p>

<p>
  <strong>Low:</strong>
  <%= @inventory.low %>
</p>

<%= link_to 'Edit', edit_inventory_path(@inventory) %> |
<%= link_to 'Back', inventories_path %>
