<%= form_for(@sellline) do |f| %>
  <% if @sellline.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sellline.errors.count, "error") %> prohibited this sellline from being saved:</h2>

      <ul>
      <% @sellline.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :invoice_id %><br>
    <%= f.collection_select :invoice_id, Invoice.all, :id, :id, :prompt => true %>
  </div>
  <div class="field">
    <%= f.label :inventory_id %><br>
    <%= f.collection_select :inventory_id,Inventory.all, :id, :item_name, :prompt => true %>
  </div>
  <div class="field">
    <%= f.label :quantity_sold %><br>
    <%= f.number_field :quantity_sold %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
