<h1>Listing selllines</h1>

<table>
  <thead>
    <tr>
      <th>Invoice</th>
      <th>Inventory</th>
      <th>Quantity sold</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @selllines.each do |sellline| %>
      <tr>
        <td><%= sellline.invoice_id %></td>
        <td><%= sellline.inventory_id %></td>
        <td><%= sellline.quantity_sold %></td>
        <td><%= link_to 'Show', sellline %></td>
        <td><%= link_to 'Edit', edit_sellline_path(sellline) %></td>
        <td><%= link_to 'Delete', sellline, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sell line', new_sellline_path %>
