<p id="notice"><%= notice %></p>

<p>
  <strong>Invoice:</strong>
  <%= @sellline.invoice_id %>
</p>

<p>
  <strong>Inventory:</strong>
  <%= @sellline.inventory_id %>
</p>

<p>
  <strong>Quantity sold:</strong>
  <%= @sellline.quantity_sold %>
</p>

<%= link_to 'Edit', edit_sellline_path(@sellline) %> |
<%= link_to 'Back', selllines_path %>
