<h1>Items Sold</h1>


<form action="">




  <p>Start Date
    <%= date_field_tag @invoice%></p>

  <p>End Date
    <%= date_field_tag @invoice %></p>


  <button>Submit</button>


</form>