<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :order_date %><br>
    <%= f.date_select :order_date %>
  </div>
  <div class="field">
    <%= f.label :vendor_name %><br>
    <%= f.text_field :vendor_name %>
  </div>
  <div class="field">
    <%= f.label :received %><br>
    <%= f.date_select :received %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
