<p id="notice"><%= notice %></p>

<p>
  <strong>Order date:</strong>
  <%= @order.order_date %>
</p>

<p>
  <strong>Vendor name:</strong>
  <%= @order.vendor_name %>
</p>

<p>
  <strong>Received:</strong>
  <%= @order.received %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
