<%= form_for(@orderline) do |f| %>
  <% if @orderline.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@orderline.errors.count, "error") %> prohibited this orderline from being saved:</h2>

      <ul>
      <% @orderline.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :order_id %><br>
    <%= f.collection_select :order_id, Order.all, :id, :id, :prompt => true %>
  </div>
  <div class="field">
    <%= f.label :inventory_id %><br>
    <%= f.collection_select :inventory_id,Inventory.all, :id, :item_name, :prompt => true %>
  </div>
  <div class="field">
    <%= f.label :quantity_received %><br>
    <%= f.number_field :quantity_received %>
  </div>
  <div class="field">
    <%= f.label :quantity_ordered %><br>
    <%= f.number_field :quantity_ordered %>
  </div>
  <div class="field">
    <%= f.label :cost_price %><br>
    <%= f.text_field :cost_price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
