<h1>Listing orderlines</h1>

<table>
  <thead>
    <tr>
      <th>Order</th>
      <th>Inventory</th>
      <th>Quantity received</th>
      <th>Quantity ordered</th>
      <th>Cost price</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @orderlines.each do |orderline| %>
      <tr>
        <td><%= orderline.order_id %></td>
        <td><%= orderline.inventory_id %></td>
        <td><%= orderline.quantity_received %></td>
        <td><%= orderline.quantity_ordered %></td>
        <td><%= orderline.cost_price %></td>
        <td><%= link_to 'Show', orderline %></td>
        <td><%= link_to 'Edit', edit_orderline_path(orderline) %></td>
        <td><%= link_to 'Delete', orderline, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Orderline', new_orderline_path %>
