<p id="notice"><%= notice %></p>

<p>
  <strong>Order:</strong>
  <%= @orderline.order_id %>
</p>

<p>
  <strong>Inventory:</strong>
  <%= @orderline.inventory_id %>
</p>

<p>
  <strong>Quantity received:</strong>
  <%= @orderline.quantity_received %>
</p>

<p>
  <strong>Quantity ordered:</strong>
  <%= @orderline.quantity_ordered %>
</p>

<p>
  <strong>Cost price:</strong>
  <%= @orderline.cost_price %>
</p>

<%= link_to 'Edit', edit_orderline_path(@orderline) %> |
<%= link_to 'Back', orderlines_path %>
