<!DOCTYPE html>
<html>
<head>
  <title>Life</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to 'Order', orders_path %>
<%= link_to 'Inventory List', inventories_path %>
<%= link_to 'Orderline', orderlines_path %>
<%= link_to 'SellLine', selllines_path %>
<%= link_to 'Invoices', invoices_path %>
<%= link_to 'OrderReport', orderReport_path %>
<%= yield %>


</body>
</html>
